<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,82}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,88},{246,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{196,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,72},{196,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{234,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,59},{234,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,280},{194,148}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,59},{194,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,144},{228,110}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,73},{228,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{230,82}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,98},{230,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{108,214}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{108,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{180,142}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,62},{180,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishes.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07fe7e4d853e5df7fd176d7ad6a1a8fc$</string>
            <key>textureFileName</key>
            <string>fishes.png</string>
        </dict>
    </dict>
</plist>
